.App {
  /* background-color: #33D4BC; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

h1 {
  font-size: 18px;
  color: #33D4BC;
}

.Content {
  min-height: 90vh;
  text-align: center;
  background-color: #EFFFFF;
}

.bias {
  margin: 50px auto 50px auto;
  padding: 5px 10px 20px 10px;
  width: 25vw;
  display: block;
  border-radius: 20px;
  border: 1px solid #FFFFFF50;
  box-shadow:  10px 10px 20px #D1CDC750,
             -10px -10px 20px #ffffff;
}

.bias:hover {
  box-shadow: inset 10px 10px 20px #D1CDC7,
            inset -10px -10px 20px #ffffff;
}
