.App {
  /* background-color: #33D4BC; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

h1 {
  font-size: 18px;
  color: #33D4BC;
}

.Content {
  min-height: 90vh;
  text-align: center;
  background-color: #ebebeb;
}

.bias {
  margin: 50px auto 50px auto;
  padding: 5px 10px 20px 10px;
  width: 25vw;
  display: block;
  border-radius: 30px;
  box-shadow:  15px 15px 40px #c8c8c8,
             -15px -15px 40px #ffffff;
  border: none;
}

.bias:hover {
  box-shadow: inset 20px 20px 20px #c8c8c8,
            inset -20px -20px 20px #ffffff;
}

.next-btn {
  background-color: inherit;
  border-radius: 20px;
  margin: 10px auto 50px auto;
  min-width: 5vw;
  border: none;
  box-shadow:  15px 15px 30px #c8c8c8,
             -15px -15px 30px #ffffff;
}

.next-btn:hover {
  box-shadow: inset 5px 5px 5px #c8c8c8,
            inset -5px -5px 5px #ffffff;
}
